# Transformation calling a function over the selected data
Apply transform fuction on selected data only to modify a specific data of DataFrame

##### Import required libraries

In [1]:
import pandas as pd

##### Create DataFrame of data

In [2]:
ipl_data = {'Team': ['MI', 'MI', 'Devils', 'Devils', 'Kings',
   'CSK', 'CSK', 'CSK', 'MI', 'Royals', 'Royals', 'MI'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df

      Team  Rank  Year  Points
0       MI     1  2014     876
1       MI     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5      CSK     4  2015     812
6      CSK     1  2016     756
7      CSK     1  2017     788
8       MI     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11      MI     2  2017     690

In [3]:
# Transforming Points column by addition of 100 points in each a

df.groupby('Year')['Points'].transform(lambda x:x+100)

0     976
1     889
2     963
3     773
4     841
5     912
6     856
7     888
8     794
9     801
10    904
11    790
Name: Points, dtype: int64

In [4]:
# It can be done using pythonic way

def add(x):
    return x+100
df.groupby('Year')['Points'].transform(add)

0     976
1     889
2     963
3     773
4     841
5     912
6     856
7     888
8     794
9     801
10    904
11    790
Name: Points, dtype: int64

In [5]:
# Give additional 10 points to csk using transform

df.groupby('Team').get_group('CSK')['Points'].transform(lambda x : x+10)

5    822
6    766
7    798
Name: Points, dtype: int64

In [6]:
# Give additional 10 point only to the teams from year 2015

df.groupby('Year').get_group(2015)['Points']+10

1     799
3     683
5     822
10    814
Name: Points, dtype: int64

In [7]:
# Give additional 10 point only to the teams from year 2015 without groupby

def add(x):
    return x+100
df.groupby('Year')['Points'].transform(add)

0     976
1     889
2     963
3     773
4     841
5     912
6     856
7     888
8     794
9     801
10    904
11    790
Name: Points, dtype: int64

Here, we have applied number of transformation functions using lambda and without it also